* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

/* Style Sheet Tracking List */
/* Custom flex row style start From line 12 */
/* add form style start From line 40 */

/* Flex Rows and Columns Style */

.flex-row {
	display: flex;
	justify-content: space-between;
}
.flex-row [class^="flex-col-"] {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.flex-row .flex-col-1  { flex: 0 0 8.333%;  max-width: 8.333%; }
.flex-row .flex-col-2  { flex: 0 0 16.666%; max-width: 16.666%; }
.flex-row .flex-col-3  { flex: 0 0 25%;     max-width: 25%; }
.flex-row .flex-col-4  { flex: 0 0 33.333%; max-width: 33.333%; }
.flex-row .flex-col-5  { flex: 0 0 41.666%; max-width: 41.666%; }
.flex-row .flex-col-6  { flex: 0 0 50%;     max-width: 50%; }
.flex-row .flex-col-7  { flex: 0 0 58.333%; max-width: 58.333%; }
.flex-row .flex-col-8  { flex: 0 0 66.666%; max-width: 66.666%; }
.flex-row .flex-col-9  { flex: 0 0 75%;     max-width: 75%; }
.flex-row .flex-col-10 { flex: 0 0 83.333%; max-width: 83.333%; }
.flex-row .flex-col-11 { flex: 0 0 91.666%; max-width: 91.666%; }
.flex-row .flex-col-12 { flex: 0 0 100%;    max-width: 100%; }

/* Add Form Style */
/*----------------*/
/*-------Start----*/

.sp-add-form .sp-feilds-tray {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;
}
.sp-feilds-tray .sp-field-item {
	flex: 0 0 48%;     
	max-width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background:white;
	padding:20px 10px;
	cursor: move;
}
.sp-feilds-tray .sp-field-item:hover {
	transform: scale(.9);
}
.sp-feilds-tray .sp-field-item span {
	margin-top:10px;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
}
.sp-add-form #sp-form-canvas {
  min-height: 400px;
  border: 2px dashed #ccc;
  padding: 15px;
}

